@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.imgProfile {
    width: 65%;
}

.Frontend {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

.sociales {
    width: 450px;
    height: 80px;
    position: relative;
    background: gainsboro;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 10px;
}

.sociales ul {
    position: relative;
	display: flex;
    width: 400px;
	z-index: 1000;
	z-index: 1000;
}

.sociales ul li {
    position: relative;
	list-style: none;
	width: 80px;
	height: 80px;
	z-index: 1;
}

.sociales ul li a {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

.sociales ul li a .icon {
    position: relative;
	display: block;
	line-height: 85px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: rgba(255,255,255,0.5);
}

.sociales ul li a:hover .icon {
    color: rgba(255,255,255,1);
}

.sociales ul li.active a .icon {
    transform: translateY(-8px);
	color: darkgray;
}

.sociales ul li a .text {
    position: absolute;
	opacity: 0;
	font-weight: 400;
	font-size: 0.6em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	color: #222327;
	text-transform: uppercase;
	font-weight: 600;
	transform: translateY(0px);
}

.sociales ul li.active a .text {	
    transform: translateY(16px);
	opacity: 1;
}

.indicator {
	position: absolute;
    width: 80px;
    height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 10px;
    cursor: pointer;
	transition: 0.5s;
	z-index: -1;
}

.indicator::before{
    content: '';
    position: absolute;
    bottom: 14px;
    width: 80%;
    height: 16px;
    background: #03a9f4;
    background: #29fd53;
    border-radius: 10px;
}

.sociales ul li:nth-child(2).active ~ .indicator {
	transform: translateX(calc(80px * 1));
}
.sociales ul li:nth-child(3).active ~ .indicator {
	transform: translateX(calc(80px * 2));
}
.sociales ul li:nth-child(4).active ~ .indicator {
	transform: translateX(calc(80px * 3));
}
.sociales ul li:nth-child(5).active ~ .indicator {
	transform: translateX(calc(80px * 4));
}